.json-editor {
    overflow: auto;
    /*resize: none;*/
    height: 100%;
    width: 100%;
    font-family: 'Roboto', monospace;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

.blue {
    position: absolute;
    background-color: blue;
}
